
    <br><br>
    <mat-card-title class="title"><mat-icon>grid_view</mat-icon> Dashboard</mat-card-title>
    <br>
    
    <div class="row">
        <mat-card class="backcard">
            <div class="column">
                <mat-card class="card">
                    <table>
                        <tr>
                            <td>
                                <img src="/assets/images/totalbooks.png" class="icons">
                            </td>
                            <td>
                                <p class="label">Total Books</p>
                                <p class="value">&nbsp;30</p>
                            </td>
                        </tr>
                    </table>   
                </mat-card>        
            </div>
            <div class="column">
                <mat-card class="card">
                    <table>
                        <tr>
                            <td>
                                <img src="/assets/images/fine.png" class="icons">
                            </td>
                            <td>
                                <p class="label">Collected Fine</p>
                                <p class="value">&nbsp;30</p>
                            </td>
                        </tr>
                    </table>   
                </mat-card>        
            </div>
            <div class="column">
                <mat-card class="card">
                    <table>
                        <tr>
                            <td>
                                <img src="/assets/images/borrow.png" class="icons">
                            </td>
                            <td>
                                <p class="label">Borrowed Books</p>
                                <p class="value">&nbsp;30</p>
                            </td>
                        </tr>
                    </table>   
                </mat-card>        
            </div>
            <div class="column">
                <mat-card class="card">
                    <table>
                        <tr>
                            <td>
                                <img src="/assets/images/users.png" class="icons">
                            </td>
                            <td>
                                <p class="label">Borrowers</p>
                                <p class="value">&nbsp;30</p>
                            </td>
                        </tr>
                    </table>   
                </mat-card>        
            </div>
        </mat-card>
    </div>