<div id="rcorners1">
    <div>
        <img class="librarian-icon" src="/assets/images/librarian.png" alt="Librarian">
    </div>

    <h1 class="register-h1">Library Portal</h1>

    <div class="register-container">
        <mat-form-field class="register-field" appearance="fill">
        <mat-label>Librarian ID</mat-label>
        <input matInput placeholder="0000-1111">
        </mat-form-field>
    </div>
    
    <div class="password-container">
        <mat-form-field class="password-field" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput placeholder="yyyy-mm-dd">
        </mat-form-field>
    </div>

    <button class="register-button" mat-raised-button color="primary">Register</button>

</div>
